<!-- 
  -- Copyright 2023, Kevin Medzorian
  --
  -- This file is part of KFOSS.
  -- KFOSS is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
  -- KFOSS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  -- You should have received a copy of the GNU General Public License along with KFOSS. If not, see <https://www.gnu.org/licenses/>.
  -->
<header #header>
    <div ngbTooltip="Home"
        (click)="router.navigate(['/'])"
        class="logo">
        <img
            class="no-select"
            alt="KFOSS"
            src="assets/images/circle-kfoss.svg"
            height="50">
    </div>
    <div class="center">
        <ng-container *ngIf="router.url == '/' else other">
            <h1
                #title
                *ngIf="showTitle"
                [ngStyle]="{'font-size': currentTitle.size + 'rem'}"
                class="title-text no-break"
                @fadeIn
                @fadeOut>
                {{currentTitle.text}}
            </h1>
        </ng-container>
        <ng-template #other>
            <ng-container *ngIf="router.url == '/kevin-medzorian' else menu">
                <div class="title-text-parent">
                    <h2 class="title-text title-text-position no-break">Kevin Medzorian</h2>
                </div>
            </ng-container>
            <ng-template #menu>
                <div
                    class="dropdown"
                    (focusout)="dropdown.open = false;"
                    tabindex="0">
                    <div class="hover" (click)="dropdown.open = !dropdown.open">
                        <h2
                            *ngIf="showDropdownTitle"
                            class="menu-trigger title-text no-break"
                            @fadeIn
                            @fadeOut>
                            {{dropdown.menu.current?.text}}
                            <div class="dropdown-button">
                                <i
                                    *ngIf="dropdown.open else down"
                                    class='bi bi-chevron-up position-absolute'
                                    @fadeIn
                                    @fadeOut></i>
                                <ng-template #down>
                                    <i
                                        class='bi bi-chevron-down position-absolute'
                                        @fadeIn
                                        @fadeOut></i>
                                </ng-template>
                            </div>
                        </h2>
                    </div>
                    <div
                        class="menu"
                        [class.gradient]="dropdown.open"
                        *ngIf="dropdown.open"
                        [@dropDownMenu]>
                        <h4
                            class="menu-item"
                            *ngFor="let item of dropdown.menu.items; let i = index"
                            (click)="stickyHeader(); router.navigate([item.route])">
                            <ng-container *ngIf="item != dropdown.menu.current">{{item.text}}</ng-container>
                        </h4>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div
        *ngIf="showRight && router.url != '/kevin-medzorian'"
        class="right"
        ngbTooltip="About Me"
        placement="bottom"
        (click)="router.navigate(['/kevin-medzorian'])"
        @fadeIn
        @fadeOut>
        <img
            alt="kevin medzorian"
            class="my-icon no-select"
            src="assets/images/circle-portrait.png"
            height="50">
        <div class="credits no-break">kevin medzorian</div>
    </div>
</header>
<div
    #outlet
    style="padding-top: 30px;">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
