<header #header>
	<div (click)="router.navigate(['/'])"
		class="logo">
		<img alt="KFOSS"
			src="assets/images/circle-kfoss.svg"
			height="50">
	</div>
	<div class="center">
		<ng-container *ngIf="app.currentComponent == 'HomeComponent' else menu">
			<h1 #title
				*ngIf="showTitle"
				[ngStyle]="{'font-size': currentTitle.size + 'rem'}"
				class="title-text no-break"
				@fadeIn
				@fadeOut>
				{{currentTitle.text}}
			</h1>
		</ng-container>
		<ng-template #menu>

			<h1 class="menu-trigger title-text no-break" (click)="dropdown.open = !dropdown.open">
				Main Menu <i [ngClass]="dropdown.open ? 'bi bi-chevron-up' : 'bi bi-chevron-down'"></i>
			</h1>
			<div class="menu" *ngIf="dropdown.open" [@dropDownMenu]>
				<h3 class="menu-item" *ngFor="let item of dropdown.menu; let i = index">
					{{item.text}}
				</h3>
			</div>


			<!-- <div ngbDropdown class="d-inline-block">
				<h1 id="header-nav" class="title-text no-break" style="font-size: 2rem;" ngbDropdownToggle>
					Toggle dropdown
				</h1>
				<div ngbDropdownMenu aria-labelledby="header-nav">
					<button ngbDropdownItem>Action - 1</button>
					<button ngbDropdownItem>Another Action</button>
					<button ngbDropdownItem>Something else is here</button>
				</div>
			</div> -->
		</ng-template>
	</div>
	<div *ngIf="showRight"
		class="right"
		@fadeIn
		@fadeOut>
		<img alt="kevin medzorian"
			class="my-icon"
			src="assets/images/circle-me.png"
			height="50">
		<div class="credits no-break">kevin medzorian</div>
	</div>
</header>
<div #outlet
	style="padding-top: 30px;">
	<router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
