


<div style="margin: auto; text-align: center; font-size: larger; padding: 50px 0;">
    <span class="k">K</span>
    evin's
    <span class="k">F</span>
    ree and
    <span class="k">O</span>
    pen
    <span class="k">S</span>
    ource
    <span class="k">S</span>
    oftware
</div>

<div style="text-align: center; margin-bottom: 50px;">
“Talk is cheap. Show me the code.”
<br>
<i style="font-size: small;">― Linus Torvalds</i>
</div>

<div class="carousel">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="img-wrapper">
                <img style="width:100%" [src]="images[0]" alt="always free." />
            </div>
            <div class="carousel-caption">
                <h3>Always Free. Always Open.</h3>
                <p>All source code is available for free on GitHub.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="img-wrapper">
                <img [src]="images[1]" alt="diverse tech stack." />
            </div>
            <div class="carousel-caption">
                <h3>Diverse Tech-Stack</h3>
                <p>Variety of software solutions, including games, textures, models, and APIs.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="img-wrapper">
                <img [src]="images[2]" alt="sophisticated modeling." />
            </div>
            <div class="carousel-caption">
                <h3>Sophisticated Modeling</h3>
                <p>Software is developed with a strict sense of data modelling.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>


<div style="height: 3000px">
</div>