<!-- 
  -- Copyright 2023, Kevin Medzorian
  --
  -- This file is part of KFOSS.
  -- KFOSS is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
  -- KFOSS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  -- You should have received a copy of the GNU General Public License along with KFOSS. If not, see <https://www.gnu.org/licenses/>.
  -->
<div class="container d-flex flex-column justify-content-center text-center p-5" style="height: 100vh">
    <h4 style="font-family: 'Courier New', Courier, monospace;">oops...</h4>
    <h1 class="mt-auto mb-3"><b> Error 404 </b></h1>
    <img class="img-fluid mx-auto" ngbTooltip="Home" placement="right" src="/assets/images/kfoss.svg" (click)="window.location.href = '/';" style="max-height: 150px;">
    <h3 class="mb-auto mt-3"> Page Not Found </h3>
</div>
