<!-- -- Copyright 2023, Kevin Medzorian
  --
  -- This file is part of KFOSS.
  -- KFOSS is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
  -- KFOSS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  -- You should have received a copy of the GNU General Public License along with KFOSS. If not, see <https://www.gnu.org/licenses/>. -->
<div class="footer">
    <a class="left my-auto wideonly" href="https://www.gnu.org/licenses/gpl-3.0.en.html" style="white-space: nowrap;">
        <i class="bi bi-c-circle"></i>
        GPL v3
    </a>
    <a href="https://github.com/Kevin-Medzorian">
        <i
            class="bi bi-github icon"
            placement="top"
            ngbTooltip="github"></i>
    </a>
    <i class="bi bi-dot icon"></i>
    <a href="https://www.linkedin.com/in/kevin-medzorian">
        <i
            class="bi bi-linkedin icon"
            placement="top"
            ngbTooltip="linkedin"></i>
    </a>
    <i class="bi bi-dot icon"></i>
    <a href="/kevin-medzorian">
        <i
            class="bi bi-person-fill icon"
            placement="top"
            ngbTooltip="about"></i>
    </a>
    <a
        class="right my-auto wideonly"
        href="https://acsweb.ucsd.edu/~kmedzori/">
        <img
            class="img-fluid"
            style="height: 30px;"
            src="assets/images/triton.svg">
    </a>
</div>
