/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "assets/fonts/font-face.css";

$background: rgb(185, 185, 185);

body,
html {
    font-family: 'Roboto';
    background-color: $background;
}

