/**
 * Copyright 2023, Kevin Medzorian 
 * This file is part of KFOSS.
 * KFOSS is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
 * KFOSS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with KFOSS. If not, see <https://www.gnu.org/licenses/>.
 **/
 
/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "assets/scss/_variables.scss";
@import 'node_modules/bootstrap/scss/bootstrap';
@import "assets/fonts/font-face.css";

body,
html {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif;
    background-color: $background;
}

a {
    text-decoration: none;
}

