.footer {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
    padding: 5px;
    border-top: 1px solid gray;
    text-align: center;
    background-color: rgb(185, 185, 185);
    z-index: 1000;
}

i {
    color: rgb(33, 37, 41);
    margin-left: 10px;
}

i:hover {
    color: rgb(75, 75, 75);
    margin-left: 10px;
}