<div class="footer">
    <a href="https://github.com/Kevin-Medzorian">
        <i class="bi bi-github" placement="top" ngbTooltip="github"></i>
    </a>
    <i class="bi bi-dot"></i>
    <a href="https://www.linkedin.com/in/kevin-medzorian">
        <i class="bi bi-linkedin" placement="top" ngbTooltip="linkedin"></i>
    </a>
    <i class="bi bi-dot"></i>
    <a href="https://github.com/Kevin-Medzorian">
        <i class="bi bi-person-fill" placement="top" ngbTooltip="about"></i>
    </a>
</div>
