<div class="footer">
    <!-- <div class="left my-auto">
        <a style="text-decoration: none" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL v3</a>
    </div> -->
    <a href="https://github.com/Kevin-Medzorian">
        <i class="bi bi-github" placement="top" ngbTooltip="github"></i>
    </a>
    <i class="bi bi-dot"></i>
    <a href="https://www.linkedin.com/in/kevin-medzorian">
        <i class="bi bi-linkedin" placement="top" ngbTooltip="linkedin"></i>
    </a>
    <i class="bi bi-dot"></i>
    <a href="https://github.com/Kevin-Medzorian">
        <i class="bi bi-person-fill" placement="top" ngbTooltip="about"></i>
    </a>
    <!-- <div class="right my-auto">
        2023
    </div> -->
</div>
